/* Modal.css */
.mdal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .mdal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    height: 200px;

  }
  
  .mdal-close {
    float: right;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 16px;
  }
  